<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="ClusterSettings">
      <section name="Cluster" type="Distribution.Library.ClusterConfigurationSection, Distribution.Library" />
    </sectionGroup>
  </configSections>

  <ClusterSettings>
    <Cluster endpoint="192.168.50.99:5051">
      <Nodes>
        <Node address="192.168.50.99:5051"/>
        <Node address="192.168.50.99:5052"/>
        <Node address="192.168.50.99:5053"/>
      </Nodes>      
    </Cluster>
    
  </ClusterSettings>

</configuration>